
<div class="table-responsive-vertical md-whiteframe-z1">
    <div class="md-toolbar-tools ">
        <span>Pessoas</span>
    </div>
    <table id="table" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th><b>#</b></th>
                <th><b>Ação</b></th>
                <th><b>Nome</b></th>
                <th><b>Data Nascimento</b></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in vm.dados track by $index">
                <td data-title="ID"><b>{{$index + 1}}</b></td>
                <td data-title="ID">
                <md-button class="md-raised md-warn" ng-click="vm.excluir(data)" >Excluir</md-button>
                <md-button class="md-raised md-accent" ui-sref="pessoa.novo({pessoa:data, isDetalhar:false})"> Alterar</md-button>
                <md-button class="md-raised md-primary" ui-sref="pessoa.novo({pessoa:data, isDetalhar:true})"> Detalhar </md-button>
                </td>
                <td data-title="Issue">{{data.nome}}</td>
                <td data-title="Status">{{data.dataNascimento | date : 'dd/MM/yyyy'}}</td>
            </tr>
    </tbody>
</table>
</div>